<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
<form action="#" class="flex h-1/2 items-center justify-center" id="clock-in-form" method="post" th:action="@{/clockIn}" th:fragment="clock-in">
  <button class="btn btn-primary btn-xs sm:btn-sm md:btn-md lg:btn-lg">Clock-in</button>
</form>

<form action="#" class="flex h-1/2 items-center justify-center" id="clock-out-form" method="post" th:action="@{/clockOut}" th:fragment="clock-out">
  <button class="btn btn-outline btn-primary btn-xs sm:btn-sm md:btn-md lg:btn-lg">Clock-out</button>
</form>

</body>
</html>