<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<body>
<div class="flex h-dvh" layout:fragment="content">
    <div class="flex w-1/2 flex-col items-center justify-center bg-base-200">
        <div hx-swap="innerHTML"
               hx-target="this"
               hx-trigger="load, clockEventAdded"
             th:hx-get="@{/clockButton}">
            <form></form>
        </div>
    </div>

    <div class="w-1/2 p-5">
        <ol id="clock-event-list">
            <li th:each="event : ${clockEvents}" th:text="${event.timeStamp()}"></li>
        </ol>
    </div>

    <div id="error-parent"></div> <!--.-->

    <template th:replace="~{fragments/alerts :: error-message}"></template> <!--.-->
    <template th:replace="~{fragments/alerts :: timeout-message}"></template>
</div>

<th:block layout:fragment="script-content">
    <script>
        document.addEventListener('htmx:beforeRequest', ev => { // <.>
            removeErrorMessage();
        });
        document.addEventListener('htmx:sendError', ev => { // <.>
            showErrorMessage('htmx-request-error');
        });
        document.addEventListener('htmx:responseError', ev => { // <.>
            showErrorMessage('htmx-request-error');
        });
        document.addEventListener('htmx:timeout', ev => { // <.>
            showErrorMessage('htmx-timeout');
        });

        function removeErrorMessage() { // <.>
            const errorParent = document.getElementById('error-parent');
            errorParent.innerHTML = '';
        }

        function showErrorMessage(templateId) { // <.>
            const clonedTemplate = document.getElementById(templateId).content.cloneNode(true);
            const errorParent = document.getElementById('error-parent');
            errorParent.innerHTML = '';
            errorParent.appendChild(clonedTemplate);
        }
    </script>
</th:block>
</body>
</html>
