<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<body>
<div class="flex h-dvh" layout:fragment="content">
    <div class="flex w-1/2 flex-col items-center justify-center bg-base-200">
        <div hx-swap="outerHTML"
               hx-target="this"
               hx-trigger="load"
             th:hx-get="@{/clockButton}"></div>
    </div>

    <div class="w-1/2 p-5">
        <ol>
            <li th:each="event : ${clockEvents}">
                <span th:text="${event.time()}">8/7/24 8:01AM</span>
                <span th:text="${event.type()}">clock-in</span>
            </li>
        </ol>
    </div>
</div>

<th:block layout:fragment="script-content">
    <!-- Add additional scripts there that are only needed for this page (Application wide scripts should be added in layout/main.html) -->
</th:block>
</body>
</html>
