<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<body>
<div class="flex h-dvh" layout:fragment="content">
    <div class="flex w-1/2 flex-col items-center justify-center bg-base-200">
        <form action="#" class="flex h-1/2 items-center justify-center" id="clock-in-form" method="post" th:action="@{/clockIn}">
            <button class="btn btn-primary btn-xs sm:btn-sm md:btn-md lg:btn-lg">Clock-in</button>
        </form>

        <form action="#" class="flex h-1/2 items-center justify-center" id="clock-out-form" method="post" th:action="@{/clockOut}">
            <button class="btn btn-outline btn-primary btn-xs sm:btn-sm md:btn-md lg:btn-lg">Clock-out</button>
        </form>
    </div>

    <div class="w-1/2 p-5">
        <ol>
            <li>8/7/24 8:01AM clock-in</li>
            <li>8/7/24 8:01AM clock-out</li>
            <li>8/7/24 8:01AM clock-in</li>
        </ol>
    </div>
</div>

<th:block layout:fragment="script-content">
    <!-- Add additional scripts there that are only needed for this page (Application wide scripts should be added in layout/main.html) -->
</th:block>
</body>
</html>
